<main>
  <div class="intro">
    <div class="headerBox">
      <img class="spacing" style="margin-top:75px;">
      <h1> NALIN CHOPRA </h1>
      <h2> Developer. Enthusiast. Awesome. </h2>
      <div class="buttonBox">
        <!-- <button type="button" class="sky-btn sky-btn-primary" style="height:60px; width:225px; margin-right: 25px;" [routerLink]="['./job-listings']">
          GO TO JOB LISTINGS
        </button>
        <button type="button" class="sky-btn sky-btn-primary" style="height:60px; width:225px; margin-left: 25px;" [routerLink]="['./job-test']">
          GO TO JOB TESTER
        </button> -->
        <div class="scrollBox" style="padding-top: 125px;">
          <div class="scroll">
            <a href="#emptyroute" onclick="return false;" id="scroller"><span></span>Click to Scroll</a>
          </div>
        </div>
      </div>
      <img class="spacing" style="margin-bottom:75px;">
      <div class="bgd"></div>
    </div>
  </div>
</main>
