<main>
  <!-- <div class="intro">
    <div class="headerBox">
      <img class="spacing" style="margin-top:75px;">
      <h1> NALIN CHOPRA </h1>

      <img class="spacing" style="margin-bottom:75px;">
      <div class="bgd"></div>
    </div>
  </div> -->
  <section class="alt" id="navigation" style="float: left;" >
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </section>

  <section id="banner">
    <h2>NALIN CHOPRA</h2>
    <p>Developer.   Enthusiast.   Adventurer.</p>
    <div class="buttonBox">
      <div class="scrollBox" style="padding-top: 10em;">
        <div class="scroll">
          <a href="empty" onclick="return false;" id="scroller"><span></span>Click to Scroll</a>
        </div>
      </div>
    </div>
  </section>

  <section class="mainDescription" style="padding-bottom: 0em;">
      <h1> Hi there! </h1>
      <p>
        So glad you made it to my website! Here's a little about me:
      </p>
      <p>
        I'm a student at UC Berkeley studying electrical engineering & computer science.
        Former All-American track & field athlete. Sports enthusiast. Favorite song? Party in the USA.
      </p>
      <p>
        In an information driven-society, it's typical that we all consume so much information. But how are we contributing back? Here
        I hope to capture some of my best memories through videos, and show everyone the work I'm passionate about.
      </p>
      <p>
        Check out some of my projects, and feel free to shoot me a message or connect with my on LinkedIn. I'd love to meet and chat with you.
      </p>


      <div style="padding-top:30px;">
        <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8">
          <ul class="socicons-list">
              <li>
                <a href='your_url_here' target='_blank'><span class="socicon-facebook"></span></a>
              </li>
                <li>
                <a href='your_url_here' target='_blank'><span class="socicon-instagram"></span></a>
              </li>
              <li>
                <a href='your_url_here' target='_blank'><span class="socicon-linkedin"></span></a>
              </li>
              <li>
                <a href='your_url_here' target='_blank'><span class="socicon-googleplus"></span></a>
              </li>
              <li>
                <a href='your_url_here' target='_blank'><span class="socicon-github"></span></a>
              </li>
          </ul>
      </div>
  </section>

  <section class="bottom">
    <h1> Insert stuff for footer here </h1>
  </section>
</main>
