<div class="infoGraphics" id="infoGraphics">
  <div class="row">
    <div class="col-md-4 text-box-left">
      <div class="crop-right">
        <img src="~/assets/images/centralized.png">
      </div>
      <h3>CENTRALIZED</h3>
      <p>
        The supportal retrieves data directly from the Jobs Service / Database so users can see failing jobs and recognize client issues instantly on a single platform.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-box-right">
      <div class="crop-left">
        <img src="~/assets/images/comprehensive.png">
      </div>
      <h3>COMPREHENSIVE</h3>
      <p>
        The supportal backs a variety of different functions. Use the dashboard to get a quick glance at summary statistics or delve deeper into the issue by filtering for specific jobs and metrics.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-box-left">
      <div class="crop-right">
        <img src="~/assets/images/user-friendly.png">
      </div>
      <h3>USER FRIENDLY</h3>
      <p>
        Designed for developer and technical support staff alike, the supportal aims to provide an intuitive user experience.
      </p>
    </div>
  </div>
</div>
